.uper {
    z-index: 11;
    right: 0vh;
    bottom: 2vh;
    position: fixed;
    width: 6vh;
    height: 6vh;
    border-top: 10px solid rgb(240, 204, 3);
    border-right: 10px solid rgb(240, 204, 3);
    margin-right: 60px;
    transform: rotate(-45deg);
    transition: 0.4s;

    & a {
        color: #00000000;
    }
    &:hover {
        width: 7vh;
        height: 7vh;
        transition: 0.4s;
    }
}
