@font-face {
  font-family: "Bowlby One";
  src: url(../../font/BowlbyOne/BowlbyOne-Regular.ttf);
}
input:-moz-placeholder {
  font-family: Bowlby One;
}
input::-webkit-input-placeholder {
  font-family: Bowlby One;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3e3b3b #e3d3ba;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 13px;
  width: 13px;
}
*::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #e3d3ba;
}

*::-webkit-scrollbar-track:hover {
  background-color: #eddcc2;
}

*::-webkit-scrollbar-track:active {
  background-color: #eddcc2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: #3e3b3b;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #656161;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #656161;
}
body {
  background: rgba(255, 237, 209, 0.89);
  font-family: "Bowlby One";
  margin: 0;
  transition: 0.7s;
}
/*header start*/
.header {
  z-index: 10;
  top: 0;
  margin-bottom: 1vh;
  transition: 0.7s;
  display: grid;
  background-color: #555;
  width: 100%;
  height: 5vh;
  color: #fff;
  grid-template-columns: 14vh 12vh 14vh 14vh auto auto;
  gap: 8vh;
  font-size: 2vh;
  align-items: center;

  &_scrolled {
    position: fixed;
    animation-name: fadeInUp;
    animation-duration: 0.7s;
  }
  & a {
    text-decoration: none;
    color: #fff;
    text-shadow: 0.8vh -0.7vh 0.2vh rgba(0, 0, 0, 0.25);
  }
  & a:hover {
    font-size: 3vh;
    transition: all, 0.4s;
    border-bottom: #fda500 solid;
  }
  & img {
    height: 4.5vh;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    top: -50px;
    transition: all 0.07s ease-out;
  }

  to {
    transition: all 0.07s ease-out;
    opacity: 1;
    top: 0;
  }
}
[class^="router-"] {
  display: grid;
}
/*header end*/
/*menu start*/
.menu {
  transition: 0.7s;
  display: grid;
  position: fixed;
  z-index: 12;
  right: 2vh;
  top: 5.5vh;
  justify-items: end;
  justify-content: center;
  border-radius: 1vh 1vh 1vh 3vh;
  background: #fcd041;
  background-blend-mode: color-burn;
  box-shadow: 0.7vh 0.7vh 0.19vh 0vh rgba(0, 0, 0, 0.25);
  width: 11vh;
  height: 11vh;
  gap: 0.2vh;

  & span {
    width: 8vh;
    height: 1.3vh;
    background-color: #434343;
    border-radius: 1vh;
  }
}
[class^="box-"] {
  display: grid;
  place-items: center;
  height: 1vh;
  cursor: pointer;
}
.menu_open {
  display: grid;
  justify-content: center;
  position: fixed;
  transform: translateX(100vh);
  width: 25%;
  height: 96vh;
  background-color: rgba(0, 0, 0, 0.95);
  color: aliceblue;
  transition: right 0.7s 0.7s;
  border-radius: 3vh 0 0 3vh;
}

.menu_open {
  transform: translateX(100vh);
  transition: transform 0.7s ease-in-out;

  & span {
    margin-top: 2vh;
    text-align: right;
    font-size: 3vh;
    width: 120%;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      color: #ebb400;
      transition: 0.4s;
    }
  }
  & a {
    color: #000;
    text-decoration: none;
    text-align: center;
    padding: 1vh 1vh 1vh 1vh;
    background-color: #ffedd1;
    border-radius: 2vh;
    box-shadow: inset 0.3vh 0.7vh 0.26vh 0pvh rgba(255, 252, 252, 0.25);
    width: 35vh;
    transition: 0.7s;

    &::before {
      content: "<<";
      color: rgb(0, 0, 0);
    }
    &:hover::after {
      content: ">>";
      color: rgb(0, 0, 0);
    }
    &:hover {
      transition: 0.7s;
      box-shadow:
        inset 0 -7vh 0 rgb(240, 204, 3),
        0.3vh 0.7vh 0.26vh 0vh rgba(255, 252, 252, 0.25);
    }
  }
}

.menu_open.active {
  transform: translateX(0);
  & span {
    margin-top: 2vh;
    text-align: right;
    font-size: 3vh;
    width: 120%;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      color: #ebb400;
      transition: 0.4s;
    }
  }
  & a {
    color: #000;
    text-decoration: none;
    text-align: center;
    padding: 1vh 1vh 1vh 1vh;
    background-color: #ffedd1;
    border-radius: 2vh;
    box-shadow: inset 0.3vh 0.7vh 0.26vh 0pvh rgba(255, 252, 252, 0.25);
    width: 35vh;
    transition: 0.7s;

    &::before {
      content: "<<";
      color: rgb(0, 0, 0);
    }
    &:hover::after {
      content: ">>";
      color: rgb(0, 0, 0);
    }
    &:hover {
      transition: 0.7s;
      box-shadow:
        inset 0 -7vh 0 rgb(240, 204, 3),
        0.3vh 0.7vh 0.26vh 0vh rgba(255, 252, 252, 0.25);
    }
  }
}
[class^="ladder-"] {
  display: grid;
  place-items: center;
  width: 30vh;
  font-size: 3vh;
}

.close_menu {
  transform: scale(0);
  transition: transform 0.7s ease-in-out;
}

.close_menu.active {
  transform: scale(1);
}
/*menu end*/
/*tile start*/
.tile_group {
  display: grid;
  margin: 0vh 11vh 2vh 7vh;
  gap: 3vh;
  grid-template-areas:
    "A A A   C C C   E E E E E"
    "A A A   C C C   E E E E E"
    "A A A   C C C   E E E E E"
    "B B B   D D D   E E E E E"
    "B B B   D D D   E E E E E"
    "B B B   D D D   E E E E E";

  & p {
    padding: 1.5vh 1.5vh 0vh 1.5vh;
  }
}
.tile-1 {
  grid-area: A;
  background: url(../../Img/tp_link.png) center;
  background-size: cover;
  width: 45vh;
  height: 45vh;
  background-color: rgb(45, 43, 43);
  box-shadow: 1vh 1.5vh 0.4vh 0vh rgba(0, 0, 0, 0.25);
  transition: 0.6s;

  &:hover {
    transition: 0.6s;
    opacity: 0.8;
    width: 110%;
    height: 110%;
  }
}
.tile-2 {
  grid-area: B;
  width: 45vh;
  height: 45vh;
  gap: 1vh;
  grid-template-areas:
    "A B"
    "C D";
}
.tile_little-1 {
  grid-area: A;
}
.tile_little-2 {
  grid-area: B;
}
.tile_little-3 {
  grid-area: C;
}
.tile_little-4 {
  grid-area: D;
}
[class^="tile_little-"] {
  font-size: 8vh;
  display: grid;
  border-radius: 9vh;
  color: #fff;
  text-align: center;
  place-items: center;
  box-shadow: 1vh 1.5vh 0.4vh 0vh rgba(0, 0, 0, 0.25);
  background: rgb(45, 43, 43);
  background: linear-gradient(
    180deg,
    rgba(45, 43, 43, 1) 0%,
    rgba(45, 43, 43, 1) 34%,
    rgba(168, 151, 116, 0.95) 57%,
    rgba(226, 199, 146, 0.95) 77%,
    rgba(255, 237, 209, 1) 100%
  );
}
.tile-3 {
  grid-area: C;
  font-size: 1.8vh;
  width: 45vh;
  height: 45vh;
  background-color: rgb(45, 43, 43);
  box-shadow: 11px 15px 4px 0px rgba(0, 0, 0, 0.25);
}
.tile-4 {
  grid-area: D;
  width: 45vh;
  height: 45vh;
  background: url(../../Img/mikrotik.png) center;
  background-size: cover;
  background-color: rgb(45, 43, 43);
  box-shadow: 1vh 1.5vh 0.4vh 0vh rgba(0, 0, 0, 0.25);
  transition: 0.6s;

  &:hover {
    transition: 0.6s;
    opacity: 0.8;
    width: 90%;
    height: 90%;
  }
}
.tile-5 {
  grid-area: E;
  width: 60vh;
  font-size: 3.6vh;
  background-color: rgb(45, 43, 43);
  box-shadow: 1vh 1.5vh 0.4vh 0vh rgba(0, 0, 0, 0.25);
}
[class^="tile-"] {
  display: grid;
  border-radius: 7vh;
  color: #fff;
  text-align: justify;
}
/*tile end*/
.uper {
  z-index: 11;
  right: 0vh;
  bottom: 2vh;
  position: fixed;
  width: 6vh;
  height: 6vh;
  border-top: 10px solid rgb(240, 204, 3);
  border-right: 10px solid rgb(240, 204, 3);
  margin-right: 60px;
  transform: rotate(-45deg);
  transition: 0.4s;

  & a {
    color: #00000000;
  }
  &:hover {
    width: 7vh;
    height: 7vh;
    transition: 0.4s;
  }
}
.support {
  margin-left: 1%;
  margin-right: 4%;
  margin-top: 15vh;

  & li {
    vertical-align: text-top;
    margin-right: 4%;
    list-style-type: none;
    display: inline-block;
    width: 45%;
  }
  & h1 {
    margin-top: 0;
    color: #000000;
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.15px;
  }
  & p {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
  }
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    transition: 0.6s;

    &:hover {
      transition: 0.6s;
      opacity: 0.8;
      width: 110%;
      height: 110%;
    }
  }
}

.button {
  margin-left: 1%;
}
.button li {
  margin-left: 0.7%;
  margin-right: 0.7%;
  display: flex;
  list-style-type: none;
  display: inline-block;
  width: 43.5%;
  background-color: #ebb400;
  outline-offset: 8px;
  outline: 2px solid #ebb400;
  box-shadow: inset 0 0px 0 #ffffff;
  transition: 1s;
  align-items: center;
  border-radius: 3vh;
}
.button li:hover {
  box-shadow:
    inset 0 -13vh 0 #000000,
    2px 2px 3px rgba(0, 0, 0, 0.3);
  outline: 2px solid #000000;
  color: #ffffff;
  transition: 1s;
}
.button p {
  color: #fff;
  margin: 2% auto 2% auto;
  text-align: center;
  font-size: 36px;
  font-style: normal;
}
/*forms start*/
.wrapper {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  background: rgb(45, 43, 43);
  background: linear-gradient(
    0deg,
    rgba(45, 43, 43, 1) 0%,
    rgba(45, 43, 43, 1) 34%,
    rgba(168, 151, 116, 0.95) 57%,
    rgba(226, 199, 146, 0.95) 77%,
    rgba(255, 237, 209, 1) 100%
  );
}
.forms {
  display: grid;
  gap: 2vh;
  margin: 5vh 3vh 0vh 3vh;
  grid-template-areas:
    "A A A A"
    "B C C C"
    "D C C C";

  & h1 {
    width: 45%;
  }
}
.block-1 {
  display: grid;
  grid-area: A;
  height: 20vh;
  border-radius: 2vh;
  background: #ffe9c6;
  box-shadow: 1.5vh -1.5vh 0.4vh 0vh rgba(0, 0, 0, 0.25);
}
.block-2 {
  display: grid;
  grid-area: B;
  align-items: center;
}
.block-3 {
  display: grid;
  grid-area: D;
  border-radius: 3vh;
  gap: 1.5vh;
  background: linear-gradient(180deg, #ffe5a3 0.07%, rgba(144, 101, 34, 0.5) 50.81%, rgba(45, 43, 43, 0) 135.38%);
  padding: 3vh 3vh 3vh 3vh;
  box-shadow: -1vh 0.9vh 0.2vh 0vh rgba(0, 0, 0, 0.25) inset;
  grid-template-areas:
    "A A"
    "B C"
    "D D"
    "E E";

  & input {
    border: 1px solid #000;
    background: #fff0d8;
    box-shadow: 0.3vh 0.5vh 0.4vh 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 1vh;
  }
  & textarea {
    border: 1px solid #000;
    background: #fff0d8;
    box-shadow: 0.3vh 0.5vh 0.4vh 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 1vh;
  }
}
.block-4 {
  grid-area: C;
  display: grid;
  backdrop-filter: blur(20px);
  border-radius: 3vh;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }
}
.inp-1 {
  grid-area: A;
  height: 70%;
  gap: 10px;
}
.inp-2 {
  grid-area: B;
  height: 70%;
}
.inp-3 {
  grid-area: C;
  height: 70%;
}
.inp-4 {
  grid-area: D;
  height: 20vh;
}
.inp-5 {
  grid-area: E;

  & button {
    background-color: #ebb400;
    box-shadow: inset 0 0px 0 rgb(243, 191, 48);
    transition: 1s;
    font-family: Bowlby One;
    font-size: 3vh;

    &:hover {
      box-shadow:
        inset 0 -13vh 0 #000000,
        2px 2px 3px rgba(0, 0, 0, 0.3);
      outline: 2px solid #000000;
      color: #ffffff;
      transition: 1s;
    }
  }
}
[class^="block-"] {
  display: grid;
}
[class^="inp-"] {
  display: grid;
}
/*forms end*/
/*footer start*/
.footer {
  margin-top: -3vh;
  background-color: #2d2b2b;
  width: 100%;
  height: 35%;

  & p {
    padding: 0.5% 10% 0.5% 10%;
    color: #686b6e;
    text-align: center;
    font-size: 2.5vh;
    font-style: normal;
  }
  & li {
    display: inline;
  }
  & ul {
    padding-top: 2%;
  }
}
.for_dot {
  margin-right: 6%;
  text-align: center;
}
.map_site {
  width: 80%;
  margin-left: 16vh;

  & iframe {
    width: 100%;
    border-radius: 2vh;
    overflow-x: hidden;
  }
}
.bottom_panel {
  text-align: center;
  padding-bottom: 0.5%;
}
.bottom_panel a {
  text-decoration: none;
  color: #e8e9e9;
  font-size: 3vh;
  transition: 0.7s;
}
.bottom_panel a:hover {
  color: #000000;
  transition: 0.7s;
}
.bottom_panel li {
  display: inline;
  padding-right: 5%;
}
.bottom_panel ul {
  margin-top: 0;
  padding-top: 0;
}
/*footer end*/
