@font-face {
    font-family: "Bowlby One";
    src: url(../../font/BowlbyOne/BowlbyOne-Regular.ttf);
}
input:-moz-placeholder {
    font-family: Bowlby One;
}
input::-webkit-input-placeholder {
    font-family: Bowlby One;
}
::-webkit-scrollbar {
    display: none;
}
::-moz-scrollbar {
    display: none;
}
::-ms-scrollbar {
    display: none;
}
body {
    background: rgba(255, 237, 209, 0.89);
    font-family: "Bowlby One";
    margin: 0;
    transition: 0.7s;
}
.main_setting {
    display: flex;
    flex-direction: column;
    margin: 0 2vh 0 2vh;
}
.darkening {
    background: rgba(0, 0, 0, 0);
    width: 1vw;
    height: 100%;
    z-index: 10;
    position: fixed;
    transition: all 0.5s ease-out;

    &.setting_active {
        display: block;
        background: rgba(0, 0, 0, 0.8);
        transition: all 0.5s ease-out;
        width: 100vw;
        backdrop-filter: blur(10px);
    }
}
